html
  head
    meta(charset='utf-8')
    title Exemplo DynamoDB
    link(href='https://fonts.googleapis.com/css?family=Lato:400,900', rel='stylesheet')
    link(href='/estilo.css', rel='stylesheet')
  body
    div(id="fb-root")
    script(src="http://connect.facebook.net/pt_BR/all.js")
    div(class="editor")
      button(id="lodin-fb", type="button") Logar com Facebook para enviar mensagens
      input(type="text", id="editor", placeholder="Digite uma mensagem e pressione enter para enviar...", autofocus="true")
    div(class="chat")
      each mensagem in mensagens
          div(class="mensagem")
            img(src=mensagem.usuario.photo)
            h1= mensagem.usuario.name
              span= moment(mensagem.datetime).fromNow()
              p= mensagem.mensagem

    div(class="usuarios")
      each usuario in usuarios
          div(class="usuario")
            img(src=usuario.photo)
            h1= usuario.name
              p= usuario.email
    script(src="/jquery-3.1.1.min.js")
    script(src="/script.js")

